@charset "UTF-8"

// ==========================================================================
// Foundation
// ==========================================================================

@import "_foundation/_base"
@import "_foundation/_reset"

// ==========================================================================
// Layout 
// ==========================================================================

@import "_layout/_footer"
@import "_layout/_header"
@import "_layout/_nav"
@import "_layout/_main"
@import "_layout/_loading"
@import "_layout/_work"
@import "_layout/_contact"

// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------

@import "_object/component/_button"
@import "_object/component/_dialog"
@import "_object/component/_animation"
/*@import "_object/component/_grid"*/
/*@import "_object/component/_media"*/

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

@import "_object/project/_gallery"
@import "_object/project/_profile"

// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

@import "_object/utility/_utility"

// -----------------------------------------------------------------
// sprite
// -----------------------------------------------------------------

@import "_mixin/_mixin"
@import "_parts/_sprite"
@import "_parts/_icon"

@import "_vegas"

.contents
  position relative
  width 980px
  height 1000px
  margin 0 auto
  text-align center

//.test--img
  //contentImage(DIR_IMG() + 'testImg.png')
//test--img-path = '../img/testImg-10.png'
//.test--data
  //contentImage(image-url + ('testImg.png'))
  //background-image : (image-url() + 'testImg.png')
// .test--img
//   contentImage(DIR_IMG() + 'testImg.png')



  /*contentImage('testImg.png');*/
  /*width 100%*/
  /*height 100%*/
  /*background-size: image-size(test--img-path)*/
  /*color: green(#0c0)*/
  /*background-image : url(image-url('testImg-20.png'))*/

// layout
@import "_layout/_bg"
@import "_layout/_service"
@import "_layout/_staff"

