@charset "UTF-8"

// ==========================================================================
// Foundation
// ==========================================================================
hogehoge  /*
@import "_foundation/_base"
@import "_foundation/_reset"

  contentImage('testImg.png');
  width 100%
  height 100%
  background-size: image-size(test--img-path)
  color: green(#0c0)
  background-image : url(image-url('testImg-20.png'))
*/   @import "sprite"
@import "_hoge" // layout
@import "_layout/_bg"
@import "../../_layout/sample/_service"
@import "_layout/cmn/img/_staff"

